<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/images.css" class="rel" />

<div class="row">
	<h1 class="text-center">Edit Campground</h1>
	<div class="col-6 offset-3">
		<form
			action="/campgrounds/<%=campground._id%>?_method=PUT"
			method="POST"
			novalidate
			class="validated-form"
			enctype="multipart/form-data"
		>
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input
					class="form-control"
					type="text"
					id="title"
					name="campground[title]"
					value="<%=campground.title%>"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					id="location"
					name="campground[location]"
					value="<%=campground.location%>"
					required
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Price</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="price-label">$</span>
					</div>
					<input
						id="price"
						type="text"
						class="form-control"
						placeholder="0.00"
						aria-label="price"
						aria-describedby="price-label"
						name="campground[price]"
						value="<%=campground.price%>"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="description ">Description</label>
				<textarea
					class="form-control"
					type="text "
					id="description "
					name="campground[description]"
				>
                <%=campground.description%>
                </textarea>
				<div class="valid-feedback">Looks good!</div>
			</div>

			<div class="mb-3">
				<label for="images" class="form-label">Choose Images:</label>
				<input
					class="form-control my-3"
					type="file"
					id="images"
					name="images"
					multiple
					onchange="previewMultiple(event)"
				/>
				<div id="formFile"></div>
			</div>

			<div class="mb-3">
				<% campground.images.forEach((img,i) => { %>

				<img
					src="<%= img.thumbnail  %> "
					alt="campground images"
					class="img-thumbnail"
				/>
				<div class="form-checkbox-inline">
					<input
						type="checkbox"
						id="image-<%=i%>"
						name="deleteImages[]"
						value="<%= img.filename %>"
					/>
					<label for="image-<%=i%>">Delete?</label>
				</div>

				<% }) %>
			</div>
			<div class="mb-3">
				<button class="btn btn-success">Update Campground</button>
			</div>
		</form>
		<a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
	</div>
</div>
